<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Study plan</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li {{#if isJSBase}} class="active" {{/if}}><a href="/jsplan">JavaScript</a></li>
            <li {{#if isNodeBase}} class="active" {{/if}}><a href="/NodeBase">Node.JS</a></li>
        </ul>
    </div>
</nav>